footer
	a(href="https://www.7-eleven.com/") 7-Eleven.com
	span &nbsp;|&nbsp;
	a(href="https://www.7-eleven.com/7rewards/") 7Rewards 

	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
	