.results
	.striped_bar

	a.national_results.uppercase(href="http://www.theonion.com/interactive/state-by-state-election-guide" target="_blank") SEE THE ONION’S ELECTION GUIDE

	header
		.seven_election
			h1 7Election
			h2
				span.seven_blue Choose 
				span.seven_purple Your 
				span.seven_red Cup

	p.text_center We’re tallying every XL Stay-Hot 7Election Cup. Explore to see your city’s results.

	h4.uppercase.seven_blue.text_center Results Updated Daily!

	.details.text_center
		.banner.uppercase
			.location(data-winner="")
			.share_results
				a(href="https://google.com" target="_blank") Share Results

		.directions

	.cup_results
		.cup_results_container.red
			div.percentage
				div.circle
					span
			div.cup
		.cup_results_container.blue
			div.percentage
				div.circle
					span
			div.cup
		.cup_results_container.purple
			div.percentage
				div.circle
					span
			div.cup

	.ad_space.desktop.sixteen-nine
			.content
				include ./ad-space
