- var books = ['Texas', 'Oklahoma', 'etc'];
.results
	address#bname United States
	.blur
	header
		h1 Header Lorem Ipsum
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

		.cup_results
			.cup.red
			.cup.blue
			.cup.purple
		
		.search_box
			input(
			  type='text'
			  name='cityzip'
			)
			
		.state_select
			select
				each book, i in books
					option(value=i) #{book}