.results

	div.header_cta
		a.national_results.uppercase.arrow_left(href="http://theonion.com/interactive/state-by-state-election-guide?map=on" target="_blank") SEE THE ONION’S ELECTION GUIDE

	header
		.seven_election
			h1 7Election
			h2
				span.seven_blue Choose 
				span.seven_purple Your 
				span.seven_red Cup

	p.header_body_copy.text_center We’re tallying every XL Stay-Hot 7Election Cup. Explore results.

	section
		h4.uppercase.seven_blue.text_center
			i Results Updated Daily!

		.details.text_center
			.banner.uppercase
				span.location(data-winner="")
				.banner_cta 
					a(rel="js-share-results", target="_blank").arrow_right Share Results

	section
		.cup_results
			.cup_results_container.blue
				div.percentage
					div.circle
						span
				div.cup
			.cup_results_container.purple
				div.percentage
					div.circle
						span
				div.cup
			.cup_results_container.red
				div.percentage
					div.circle
						span
				div.cup

	section
		include ./ad-space
