.search_module
	.search_box
		input(
		  type='text'
		  name='cityzip'
		)
	select.state_select
		option(value='national' checked) National
		each state in states
			option(value=state.abbrev) #{state.name}
	button#findAStore Find a Store