.search_module
	.search_box.flex
		input(
		  type="text"
		  name="cityzip"
		  placeholder="Search by city or zip"
		  tabindex="1"
		)
		button(tabindex="2" onclick="ga('send', 'event', 'find_store', '', '')")#findAStore Find a Store