.ad_space
	position relative
	height 105px
	max-width 275px
	margin 5px auto	
.results
	.ad_space
		display none
	
#cd-google-map
	.ad_space
		display block
	
@media only screen and (min-width: 1024px)
	.results
		.ad_space
			display block
		
	#cd-google-map
		.ad_space
			display none
	
/*@media only screen and (min-width: 1024px) and (min-height: 990px)
	.results
		.ad_space
			display block
		
	#cd-google-map
		.ad_space
			display none*/