.ad_space
	position relative
	height 105px
	max-width 275px
	margin 12px auto 25px
.results
	.ad_space
		display none
	
#cd-google-map
	.ad_space
		display block
	
@media only screen and (min-width: 1024px)
	.results
		.ad_space
			display block
		
	#cd-google-map
		.ad_space
			display none
	