body
  -webkit-font-smoothing antialiased
  font-family 'Nunito', sans-serif
  font-size 100%
  color #2d313f
  margin 0
  background: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 10px,
    #f0f0f1 10px,
    #f0f0f1 12px
  )
  