
#cd-google-map
  position relative
  margin 0 25px
  

// @media only screen and (min-width: 1024px)

#cd-zoom-in, #cd-zoom-out
  height 32px
  width 32px
  cursor pointer
  margin-left 10px
  background-color rgba(211, 104, 104, 0.9)
  background-repeat no-repeat
  background-size 32px 64px
  background-image url("../imgs/cd-icon-controller.svg")

.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover
  background-color #d36868

#cd-zoom-in
  background-position 50% 0
  margin-top 10px
  margin-bottom 1px

#cd-zoom-out
  background-position 50% -32px

@media only screen and (min-width: 1024px)  
  #cd-google-map
    position fixed
    top 0
    right 0
    width calc(100% - 420px)
    margin 0
       
  #cd-zoom-in, #cd-zoom-out
    margin-left 50px

  #cd-zoom-in
    margin-top 50px