#google-container
  position absolute
  top 0
  right 0
  width 100%
  height 100vh
  background-color #e7eaf0

@media only screen and (min-width: 768px)
  #google-container
    height 100vh

@media only screen and (min-width: 1170px)
  #google-container
    height 100vh
