
#cd-google-map
  width calc(100% - 350px)
  position absolute
  top 0
  right 0

// @media only screen and (min-width: 768px)

#cd-zoom-in, #cd-zoom-out
  height 32px
  width 32px
  cursor pointer
  margin-left 10px
  background-color rgba(211, 104, 104, 0.9)
  background-repeat no-repeat
  background-size 32px 64px
  background-image url("../imgs/cd-icon-controller.svg")

.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover
  background-color #d36868

@media only screen and (min-width: 768px)     
  #cd-zoom-in, #cd-zoom-out
    margin-left 50px

#cd-zoom-in
  background-position 50% 0
  margin-top 10px
  margin-bottom 1px

@media only screen and (min-width: 768px)
  #cd-zoom-in
    margin-top 50px

#cd-zoom-out
  background-position 50% -32px