#google-container
	position relative
	height 250px
	background-color #e7eaf0
	height calc(100vh - 150px)

@media only screen and (min-width: 1024px)
	#google-container
		width 100%
		position absolute
		top 0
		right 0
		height calc(100vh - 85px)
