#google-container
  position relative
  height 250px
  background-color #e7eaf0

@media only screen and (min-width: 768px)
  #google-container
    width 100%
    position absolute
    top 0
    right 0
    height calc(100vh - 85px)

// @media only screen and (min-width: 1170px)
//   #google-container
//     height 100vh
