input,
label,
select,
button,
textarea
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin 5px 0
  border 1px solid #959595
  border-radius 0
  padding 5px
  display inline-block
  vertical-align middle
  white-space normal
  background #fff
  line-height 1
  font-size 14px
  font-family AvenirNextBold
  color inputColor
  &::placeholder 
    font-style italic
    
  
button
  background-color sevenPurple
  color #fff
  text-transform uppercase
  border-radius 40px
  font-size 11px
  font-weight bold
  padding 10px 15px
  cursor pointer

input
  
  &:focus
    outline 0

// input,
// textarea
//   -webkit-box-sizing content-box
//   -moz-box-sizing content-box
//   box-sizing content-box

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
  -webkit-box-sizing border-box
  -moz-box-sizing border-box
  box-sizing border-box

// input[type=date],
// input[type=datetime],
// input[type=datetime-local],
// input[type=email],
// input[type=month],
// input[type=number],
// input[type=password],
// input[type=range],
// input[type=search],
// input[type=tel],
// input[type=text],
// input[type=time],
// input[type=url],
// input[type=week]

input[type=checkbox],
input[type=radio]
  width 13px
  height 13px

input[type=file]

input[type=search]
  -webkit-appearance textfield
  -webkit-box-sizing content-box

::-webkit-search-decoration
  display none

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
  overflow visible
  width auto

::-webkit-file-upload-button
  padding 0
  border 0
  background none

textarea
  vertical-align top
  overflow auto

select
  border-radius 0
  -webkit-appearance none
  cursor pointer

select[multiple]
  vertical-align top

@media only screen and (min-width: 1024px)
  input,
  label,
  select,
  button,
  textarea
    margin 0
    border 1px solid #959595
    padding 8px 5px
