.search_module
	display(flex)
	position relative
	right 0
	width 100%
	z-index 900
	padding 20px 0
	background-color transparent
	
	input
		display inline-block
		// width 160px
		margin-right 2px
	
	button
		display inline-block
		margin-left 2px
		white-space nowrap
		max-width 150px
		
	*
		flex(1 auto)
@media only screen and (min-width: 1024px)
	.search_module
		box-shadow -2px -2px 15px 1px rgba(0,0,0,0.2)
		position absolute
		top 20px
		right 20px
		width calc(100% - 40px)
		background-color #fff
		padding 6px 9px
		border-radius 5px

