.search_module
	position relative
	right 0
	width 100%
	z-index 900
	padding 20px 0
	background-color transparent
	
	input, select
		width 100%
		
@media only screen and (min-width: 768px)
	.search_module
		position absolute
		top 20px
		right 20px
		width calc(100% - 40px)