sevenPurple = #4f2269
sevenBlue = #0099DD
sevenRed = #DA1F31
inputColor = #555353

.seven_blue
	color sevenBlue
.seven_purple
	color sevenPurple
.seven_red
	color sevenRed



@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=7baa3385-421e-4696-aab5-4aa9f8ab4b39");

@font-face{
font-family:"AvenirNextLTW01-BoldCn";
src:url("Fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix");
src:url("Fonts/07690b8a-c348-4c53-8de3-59f7cfef9ee8.eot?#iefix") format("eot"),url("Fonts/390c08bc-8d21-4af3-95a1-a73c21f189cd.svg#390c08bc-8d21-4af3-95a1-a73c21f189cd") format("svg");
}
@font-face{
font-family:"AvenirNextLTW01-MediumC_721311";
src:url("Fonts/10236419-1766-4da0-9a4c-83b4fffea025.eot?#iefix");
src:url("Fonts/10236419-1766-4da0-9a4c-83b4fffea025.eot?#iefix") format("eot"), url("Fonts/9c91e8bb-b452-4e4f-b00c-dad5dadb10c6.svg#9c91e8bb-b452-4e4f-b00c-dad5dadb10c6") format("svg");
}
@font-face{
font-family:"AvenirNextLTW01-DemiCn";
src:url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix");
src:url("Fonts/fe4d96a8-3161-4f0c-ac51-ed6a5df15918.eot?#iefix") format("eot"), url("Fonts/f9659813-f8c7-4548-9117-b8e02fa26641.svg#f9659813-f8c7-4548-9117-b8e02fa26641") format("svg");
}