sevenPurple = #4f2269
sevenBlue = #0099DD
sevenRed = #DA1F31
inputColor = #555353

.seven_blue
	color sevenBlue
.seven_purple
	color sevenPurple
.seven_red
	color sevenRed



@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=7baa3385-421e-4696-aab5-4aa9f8ab4b39");

@font-face{
font-family:"Avenir Next Cyr W00 Bold";
src:url("Fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix");
src:url("Fonts/fb4117a5-14ee-4035-8692-935bfff7fc2e.eot?#iefix") format("eot"),url("Fonts/68f0375d-f66f-4f88-822a-5a0b61d2efc0.svg#68f0375d-f66f-4f88-822a-5a0b61d2efc0") format("svg");
}

@font-face{
font-family:"Avenir Next Cyr W00 Demi";
src:url("Fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix");
src:url("Fonts/fbf4298d-ef75-419c-b615-47f209a48ed2.eot?#iefix") format("eot"),url("Fonts/c6778bcf-ca82-4a86-8a5f-08b70c9a71fd.svg#c6778bcf-ca82-4a86-8a5f-08b70c9a71fd") format("svg");
}

@font-face{
font-family:"Avenir Next Cyr W00 Medium";
src:url("Fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix");
src:url("Fonts/c6970a14-8b0f-4629-9072-71c7e123908f.eot?#iefix") format("eot"),url("Fonts/e536e1c2-92a4-4db4-8a41-1c55354d11b7.svg#e536e1c2-92a4-4db4-8a41-1c55354d11b7") format("svg");
}

AvenirNextBold = 'Avenir Next Cyr W00 Bold', 'Nunito', sans-serif
AvenirNextMed = 'Avenir Next Cyr W00 Medium', 'Nunito', sans-serif
AvenirNextDemi = 'Avenir Next Cyr W00 Demi', 'Nunito', sans-serif