html[data-useragent*='MSIE 10.0'],
html[data-useragent*='MSIE 9'],
html[data-useragent*='MSIE 8']
	.header_cta
		top 30px
		
	.results header
		margin-top	25px
		
	.results .header_body_copy
		max-width	100%
		width 90%
		
	.cup_results
		display(flex)
		flex-justify-content(center)
		flex-direction(row)
		width 300px
		margin 0 auto
		margin-top 12px
		display block

	 .cup_results_container
		display	inline
		float left
		padding	0 15px

		.percentage
			color #fff
			font-weight bold
			text-align center
			
			.circle
				width 35px
				height 35px
				display inline-block
				border-radius 50%
				
				span
					line-height 2em
					
					sup
						font-size 9px
						vertical-align	top

	.social_share
		display inline-block
		width 186px
		overflow	hidden
		

	.social_share__icon
		max-width	30px
		margin-right -75px







