html[data-useragent*='MSIE 10.0'],
html[data-useragent*='MSIE 9'],
html[data-useragent*='MSIE 8']
	.header_cta
		position fixed
		top 30px
		
	.results header
		margin-top	25px
		
	.results .header_body_copy
		// display block
		// padding 0 5%
		// text-align	center
		max-width	100%
		width 90%
		
	.cup_results
		display(flex)
		flex-justify-content(center)
		flex-direction(row)
		width 300px
		margin 0 auto
		margin-top 12px
		display block

	 .cup_results_container
	// 	flex-align-items(center)
	// 	flex-direction(column)
	// 	width 75px
	// 	margin 0 5px
		display	inline
		float left
		padding	0 15px
		
		// .cup
		// 	flex(1 auto)
		// 	position relative
		// 	background-image url('../imgs/coffee_colors_votes.png');
		// 	background-repeat no-repeat
		// 	background-size cover
		// 	height 150px
		// 	width 100%

		.percentage
			color #fff
			font-weight bold
			text-align center
			
			.circle
				width 35px
				height 35px
				display inline-block
				border-radius 50%
				
				span
					line-height 2em
					
					sup
						font-size 9px
						vertical-align	top

		// &.red
		// 	.cup
		// 		background-position -152px 0
		// 	.circle
		// 		border 1px solid sevenRed
		// 		background-color sevenRed
		// &.purple
		// 	.cup
		// 		background-position -75px 0
		// 	.circle
		// 		border 1px solid sevenPurple
		// 		background-color sevenPurple
		// &.blue
		// 	.cup
		// 		background-position 0 0
		// 	.circle
		// 		border 1px solid sevenBlue
		// 		background-color sevenBlue
	
	.social_share
		display inline-block
		width 186px
		overflow	hidden
		

	.social_share__icon
		max-width	30px
		margin-right -75px







