doctype html
html
  head
    base(href="/")
    title 7 Election 2016

    meta(property='og:url', content='https://7election.com')
    meta(property='og:type', content='website')
    meta(property='og:title', content='See My State’s Results!')
    meta(property='og:description', content='Vote with your cup at 7-Eleven')
    meta(property='og:image', content='imgs/coffee_colors_votes.png")')
    
    meta(name='currentState', content='')
    meta(name='currentCity', content='')

    link(type='text/css', rel='stylesheet', href='//fast.fonts.net/cssapi/7baa3385-421e-4696-aab5-4aa9f8ab4b39.css')

    include ../templates/metas
    include ../templates/favicons
    include ../templates/styles

  body
    .striped_bar
    main
        #mask
        include ../templates/results
        include ../templates/map
    include ../templates/footer
    include ../templates/scripts
