doctype html
html
  head
    title maptest
    base(href="/")

    include ../templates/metas
    include ../templates/favicons
    include ../templates/styles

  body
    main
        #mask
        include ../templates/results
        include ../templates/map
        include ../templates/footer
        include ../templates/scripts
