doctype html
html
  head
    script(src='/lib/infobox.js')
    title maptest
    base(href="/")

    include ../templates/metas
    include ../templates/favicons
    include ../templates/styles

  body
    main
    include ../templates/map
    include ../templates/scripts
