doctype html
html
  head
    base(href="/")
    title 7 Election 2016

    meta(property='og:url', content='http://7-election.internal-l.thethinktank.com')
    meta(property='og:type', content='website')
    meta(property='og:title', content='7 Election 2016')
    meta(property='og:description', content='Your description')
    meta(property='og:image', content='http://7-election.internal-l.thethinktank.com/imgs/coffee_colors_votes.png")')
    
    meta(name='currentState', content='')

    link(type='text/css', rel='stylesheet', href='//fast.fonts.net/cssapi/7baa3385-421e-4696-aab5-4aa9f8ab4b39.css')

    include ../templates/metas
    include ../templates/favicons
    include ../templates/styles

  body
    main
        #mask
        include ../templates/results
        include ../templates/map
    include ../templates/footer
    include ../templates/scripts
