doctype html
html
  head
    title maptest
    base(href="/")

    include ../templates/metas
    include ../templates/favicons
    include ../templates/styles

  body
    header
      h1 Custom Google Map
    section#cd-google-map
      #google-container
      #cd-zoom-in
      #cd-zoom-out
      address 86-90 Paul Street, London, EC2A 4NE

    include ../templates/scripts
